{% assign listed_posts_urls = page.url | split: ' ' %}
<div class="related" data-reveal>
  <h2>{{ site.data.settings.related_posts }}</h2>
  <ul class="related-posts" role="list">
    {% for tag in page.tags %}
      {% for mypost in site.tags[tag] limit:2 %}
        {% unless listed_posts_urls contains mypost.url %}
          <li>
            <a href="{{ mypost.url | relative_url }}">
              <p class="related-meta">{{ mypost.date | date: "%b %d, %Y" }}</p>
              <h3>{{ mypost.title }}</h3>
            </a>
          </li>
          {% assign listed_posts_urls = listed_posts_urls | push: mypost.url %}
        {% endunless %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
